{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "es5",
  "semi": false,
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSameLine": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^./",
    "^../"
  ]
}
